{% layout 'layout' %}
{% block rel %}
  <h1>{{item}} readings</h1>
  {% assign body = client.response.body %}
    <div class="card">
      <h2>Linked</h2>
      <div class='prop'>
        <a href="/streamlabs/locations/{{parentId}}">Location</a>
      </div>
    </div>
    <div class="card">
      <h2>Water Usage</h2>
      <div class='prop'>
        <a href="/streamlabs/locations/{{parentId}}/readings/water-usage/summary">Summary</a>
      </div>
      <div class='prop'>
        <a href="/streamlabs/locations/{{parentId}}/readings/water-usage?groupBy=hour&startTime={{startTime.day}}">by Hour</a>
      </div>
      <div class='prop'>
        <a href="/streamlabs/locations/{{parentId}}/readings/water-usage?groupBy=day&startTime={{startTime.day}}">by Day</a>
      </div>
      <div class='prop'>
        <a href="/streamlabs/locations/{{parentId}}/readings/water-usage?groupBy=month&startTime={{startTime.month}}">by Month</a>
      </div>
    </div>
{% endblock %}
{% block pen %}
  {% include 'resource' %}
{% endblock %}
